{% extends 'base.html' %}
{% load static %}

    {% block title %}Dersliği Sil - Üniversite Bölüm İşleri{% endblock %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/delete.css' %}" type="text/css">{% endblock %}

    {% block article %}
        <article>
            <div class="content">
                <h2>Dersliği Sil</h2>
                <form action="" method="post">{% csrf_token %}
                    <p>Bu dersliği silmek için emin misin "{{ classroom.classroom_name }}, {{ classroom.classroom_code }}"?</p>
                    <input type="submit" value="Evet">
                </form>
            </div>                                                        
        </article>
    {% endblock %}