{% extends 'base.html' %}
{% load static %}

    {% block title %}Dersi Sil - Üniversite Bölüm İşleri{% endblock %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/delete.css' %}" type="text/css">{% endblock %}

    {% block article %}
        <article>
            <div class="content">
                <h2>Dersi Sil</h2>
                <form action="" method="post">{% csrf_token %}
                    <p>Bu dersi silmek için emin misin "{{ course.course_name }}, {{ course.course_code }}"?</p>
                    <input type="submit" value="Evet">
                </form>
            </div>                                                        
        </article>
    {% endblock %}