{% load static %}
<!DOCTYPE html>
<html lang="tr">
    <head id="head">
        <title>Ana Sayfa - Üniversite Bölüm İşleri</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/img" href="{% static 'media/kou.png' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    </head>
    <body id="body">
        <header>
            <div class="heading">
                <a href="{% url 'home' %}"><img id="logo" src="{% static 'media/kou.png' %}" width="150px" height="150px" title="logo" alt="logo"></a>
                <h1>Üniversite Bölüm İşleri Sistemi</h1>
            </div>
        </header>
        <nav>
        </nav>
        <article>
            <div class="content">
                <h2>Giriş Yönlendirme Paneli</h2>
                <a href="{% url 'login' %}?type=academic">Akademik Personel Girişi</a>
                <a href="{% url 'login' %}?type=administrative">İdari Personel Girişi</a>
            </div>
        </article>
        <footer>
            <div class="footer" id="top"></div>
            <div class="footer" id="bottom">© 2025, Kocaeli Universitesi Yazılım Mühendisliği'ndeki birkaç öğrenci tarafından ❤️ ile tasarlanmıştır.</div>
        </footer>
    </body>
</html>