{% extends 'base.html' %}
{% load static %}

    {% block title %}Ana Sayfa - Üniversite Bölüm İşleri{% endblock %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">{% endblock %}

    {% block content %}
        <header>
            <div class="logo">
                <a href="{% url 'home' %}"><img id="logo" src="{% static 'media/kou.png' %}" width="150px" height="150px" title="logo" alt="logo"></a>
            </div>
            <div class="heading">
                <h1>Üniversite Bölüm İşleri Sistemi</h1>
            </div>
        </header>
        <nav>
        </nav>
        <article>
            <div class="content">
                <h2>Giriş Yönlendirme Paneli</h2>
                <a href="{% url 'login' %}?type=academic">Akademik Personel Girişi</a>
                <a href="{% url 'login' %}?type=administrative">İdari Personel Girişi</a>
            </div>
        </article>
    {% endblock %}