{% extends 'base.html' %}
{% load static %}

    {% block title %}Personeli Sil - Üniversite Bölüm İşleri{% endblock %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/delete.css' %}" type="text/css">{% endblock %}

    {% block article %}
        <article>
            <div class="content">
                <h2>Personeli Sil</h2>
                <form action="" method="post">{% csrf_token %}
                    <p>Bu personeli silmek için emin misin "{{ staff.username }}, {{ staff.first_name }} {{ staff.last_name }}"?</p>
                    <input type="submit" value="Evet">
                </form>
            </div>                                                        
        </article>
    {% endblock %}