{% extends 'base.html' %}
{% load static %}

    {% block title %}Personeller - Üniversite Bölüm İşleri{% endblock %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/list.css' %}" type="text/css">{% endblock %}

    {% block article %}
        <article>
            <div class="content">
                <h2>Personel Listesi</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Görev</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for staff in staff %}
                            <tr>
                                <td>{{ staff.username }}</td>
                                <td>{{ staff.first_name }}</td>
                                <td>{{ staff.last_name }}</td>
                                <td>{{ staff.role.title }}</td>
                                <td>
                                    <a href="{% url 'staff_detail' staff.pk %}">Görüntüle</a>
                                    <a href="{% url 'staff_edit' staff.pk %}">Düzenle</a>
                                    {% if request.user.role.title == 'Bölüm Başkanı' %}
                                        <a href="{% url 'staff_delete' staff.pk %}">Sil</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>                                                        
        </article>
    {% endblock %}