{% extends 'base.html' %}
{% load static %}

    {% block title %}Öğrenciyi Sil - Üniversite Bölüm İşleri{% endblock %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/delete.css' %}" type="text/css">{% endblock %}

    {% block article %}
        <article>
            <div class="content">
                <h2>{{ student.student_no }} Numaralı Öğrenciyi Sil</h2>
                <form action="" method="post">{% csrf_token %}
                    <p>Bu öğrenciyi silmek için emin misin "{{ student.student_no }}, {{ student.first_name }} {{ student.last_name }}"?</p>
                    <input type="submit" value="Evet">
                </form>
            </div>                                                        
        </article>
    {% endblock %}