{% extends 'base.html' %}
{% load static %}

    {% block title %}Öğrenci Detayı - Üniversite Bölüm İşleri{% endblock %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/detail.css' %}" type="text/css">{% endblock %}

    {% block article %}
        <article>
            <div class="content">
                <h2>{{ student.student_no }} Numaralı Öğrenci Bilgisi</h2>
                <p><strong>No:</strong> {{ student.student_no }}</p>
                <p><strong>Ad:</strong> {{ student.first_name }}</p>
                <p><strong>Soyad:</strong> {{ student.last_name }}</p>
                <p><strong>E-posta:</strong> {{ student.email }}</p>
                <p><strong>Aldığı Dersler</strong>:
                    {% if student.courses.all %}
                        {% for course in student.courses.all %}
                            {{ course.course_name }} ({{ course.course_code }}),<br>
                        {% endfor %}
                    {% else %}
                        Bu öğrenci henüz herhangi bir ders almamış.
                    {% endif %}
                </p>
            </div>
        </article>
    {% endblock %}